<%= render partial: "devise/shared/header"%>

<div class="main">
  <div class="form-area">
    <div class="form-title">検索フォーム</div>

    <div class="search-form">
      <%= search_form_for @p, url: shops_search_path do |f| %>
        <div class="form form-genre">
          <div class="form-title">ジャンル</div>
          <%= f.label :genre_eq, 'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>

        <div class="form form-address">
          <div class="form-title">所在地</div>
          <%= f.label :prefecture_eq, '所在地' %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>

        <div class="form-choise">
          <%= f.label :tag_eq, 'こだわり条件' %>
          <%= f.collection_radio_buttons :id, Tag.all, :id, :name %>
          <br>
        </div>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="shop-area">
    <div class="shop">
      <div class="title">レストラン一覧</div>
    </div>
    <div class="search-value"></div>
    <div class="shop-group">
      <div class="shop-list">
        <% @shops.each do |shop| %>
        <div class="shop-title"><%= shop.shop_name %></div>
        <div class="shop-detail-group">
          <div class="shop-image">
            <%= image_tag shop.image , class: 'shop-image'%>
          </div>
            <div class="shop-profile"><%= shop.profile %></div>
          <div class="shop-reserve-group">
            <div class="shop-choise">
              <div class="choise-tag">
                <ul class="tag">
                  <li class="tag-list">
                    <% shop.tags.each do |tag| %>
                      <%=tag.name%>
                    <%end%>
                  </li>
                </ul>
              </div>
            </div>
              <div class="address">
                <div class="address-title">所在地</div>
                <div class="address-text"><%= shop.prefecture.name + shop.city + shop.address + shop.building %></div>
              </div>
              <div class="shop-reviews-group">
                <div class="shop-reviews">
                  <div class="stars">★</div>
                  <div class="reviews">口コミをみる</div>
                </div>
                <div class="reserve-button">予約する</div>
            </div>
          </div>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>