<%= render partial: "devise/shared/header"%>

<div class="main">
  <div class="left-area">
    <div class="form-title">検索フォーム</div>

    <div class="search-form">
      <%= search_form_for @p, url: shops_search_path do |f| %>
        <div class="form form-genre">
          <div class="form-title">ジャンル</div>
          <%= f.label :genre_eq, 'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>

        <div class="form form-address">
          <div class="form-title">所在地</div>
          <%= f.label :prefecture_eq, '所在地' %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,  include_blank: '指定なし' %>
          <br>
        </div>

        <div class="form-tag">
          <%= f.label :tag_eq, 'こだわり条件' %>
          <%= f.collection_radio_buttons :id, Tag.all, :id, :name %>
          <br>
        </div>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="right-area">
    <div class="shop">
      <div class="title">レストラン一覧</div>
    </div>
    <div class="search-value"></div>
    <div class="shop-group">
      <div class="shop-list">
        <% @shops.each do |shop| %>
        <div class="shop-detail-group">
          <div class="shop-image">
            <%= image_tag shop.image , class: 'shop-image'%>
          </div>

          <div class="shop-reserve-group">

              <div class="title-address-genre">
                <div class="index-title"><%= shop.shop_name %></div>
                <div class="index-genre"><%= shop.genre.name %></div>
                <div class="index-address"><%= shop.prefecture.name %></div>
              </div>

            <div class="shop-tags">
              <ul class="tag">
                  <% shop.tags.each do |tag| %>
                  <li class="tag-list">
                    <%=tag.name%>
                  </li>
                  <%end%>
              </ul>
            </div>

              <div class="shop-show-button">
              <%= link_to '店舗詳細確認・予約', shop_path(shop), class: "shop-show" %>
              </div>
          </div>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>